.course-schedule table{
    display: table;
    padding: 0;
    background-color: transparent;
    border-color: gray;
    font-size: 16px;
    font-weight: 300;
}

.course-schedule table tr{
    border-width: 1px;
    border-style: solid;
    /* border-top-width: 1px;
  border-top-style: solid; */
}

.course-schedule table tr th{
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    padding-top: 6px;
    padding-left: 13px;
    padding-right: 13px;

    vertical-align: inherit;
}

.course-schedule table tr td{
    display: table-cell;
    border-width: 1px;
    border-style: solid;
    border-color: #CCCCCC;
    padding: 6px 13px;

    vertical-align: inherit;
}
